.main-page_loading .main-page__title {
  transform: scale(1.5);
  color: #21955b;
}

.main-page__filters {
  background: #232328;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-page__filters-inner {
  max-width: 1024px;
  margin: 0 auto;
}

.main-page__title {
  color: white;
  text-align: center;
  font-size: 50px;
  transition: all 200ms;
}

.main-page__result {
  max-width: 1025px;
  margin: 0 auto;
  padding: 20px;
}

.main-page__error {
  margin: 10px 0;
  border: 1px solid red;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
