.search-form {
  padding: 20px;
}

.search-form__row {
  display: flex;
  flex-wrap: wrap;
}

.search-form__row > * {
  flex: 1;
  min-width: 200px;
}

.search-form__dates {
  margin-top: 10px;
}

.search-form__submit {
  margin-top: 10px;
  width: 100%;
}
