.fly-item {
  padding: 20px;
  box-shadow: 0 0 2px rgba(0,0,0,.2);
  display: flex;
  cursor: pointer;
  transition: all .15s ease-out;
}

.fly-item:hover {
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.fly-item__left {
  flex: 1;
}

.fly-item__cities {
  font-weight: bold;
}

.fly-item__date {
  color: gray;
}

.fly-item__price {
  font-size: 24px;
}

.fly-item__currency {
  margin-left: 5px;
}
